.subscribe-button{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.15s;
    vertical-align: top;padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.subscribe-button:hover{
opacity: 0.8;
}

.subscribe-button:active{
opacity: 0.45;
}




.join-button{
    background-color: white;
    color: blue;
    border: 1px solid blue;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 5px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    transition: background-color 0.5s, color 0.5s;
    vertical-align: top;padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
.join-button:hover{
    background-color: blue;
    color: white;
}
.join-button:active{
    opacity: 0.45;
}



.tweet-button{
    background-color: rgb(51, 165, 241);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
    transition: box-shadow 0.15s;
    vertical-align: top;padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-left: 5px;
    transition: box-shadow 0.15s;
}
.tweet-button:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.tweet-button:active{
    opacity: 0.45;
}