p{
    font-family: Roboto;
    margin-top: 0px;
    margin-bottom: 0px;
}
.video-title{
  
    font-size: 18px;
    width: 300px;
    line-height: 24px;
    font-weight: bold;
    font-style: italic;
    color: black;
    margin-bottom: 5px;
    width: 280px;
}

.video-stats{
    
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
}
.video-author{
    
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
}
.video-description{
   
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
    width: 280px;
    line-height: 20px;
}
.apple-text{
    background-color: rgb(227, 65, 64);
    color: white;
    font-size: 14px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 9px;
    padding-right: 9px;
}
.shop-link{
    cursor: pointer;
}
.shop-link:hover{
    text-decoration: underline;
}